# Default ignored files


remove node_modules
git rm -r --cached node_modules

git commit -am "node_modules be gone!"

git push origin master

git rm -r --cached .
git add .
git commit -m "remove gitignore files"
git push origin master

/node_modules

/shelf/
/workspace.xml

git rm -r --cached .
git add .
git commit -m "remove gitignore files"
git push origin master
